/* variables */
:root {
    --offwhite: antiquewhite;
    --olive: darkolivegreen;
    --sea-green: darkseagreen;
    --slate: darkslategray;
    --rose: rosybrown;
}

/* universal styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* element styling */ 
body {
    background-color: var(--offwhite);
    color: var(--olive);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

h2 {
    display: flex;
    width: 25%;
    margin: 3%;
    font-size: 28px;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: var(--sea-green) solid 4px;
}

/* header/nav styling */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: gray;
    color: var(--offwhite);
    padding: 3px;
}

header h1 {
    font-size: 38px;
    margin-left: 1rem;
}

nav a{
    display: inline-block;
    margin: 15px 3px 3px 3px;
    padding: 3px;
    color: var(--offwhite);
}

nav a:hover {
    color: var(--sea-green);
    text-decoration: overline;
    cursor: pointer;
}

/* banner styling */
#banner {
    height: 40rem;
    width: 100%;
    margin-bottom: 5px;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

#banner h3 {
    flex-wrap: wrap;
    font-size: 22px;
    margin: 19% 40% 80% 40%;
    color: var(--offwhite);
}

/* content styling */
.sections {
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

/* about me section styling */
#about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about-me p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2% 3% 2% 12%;
    width: 50%;
    font-size: 18px;
}

#me-picture {
    display: flex;
    height: 15%;
    width: 20%;
    margin-top: 2%;
    margin-right: 10%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 3%;
}

/* work section styling */
.app-container {
    position: relative;
}

.app-container p {
    position: absolute;
    font-size: 18px;
    bottom: .875rem;
    left: .5rem;
    background-color: rgba(250, 235, 215, 0.8);
    color: var(--olive);
    padding: .5rem 1.25rem .5rem .5rem;
    text-align: left;
}

.other-apps {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 2% 10% 10% 0%;
    height: 17rem;
    width: 25rem;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border: 4px solid var(--sea-green);
}

.other-apps:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

#main-app {
    background-image: url(../images/campricorn1.png);
    background-size: contain;
    height: 34.4rem;
    width: 54.7rem;
    margin-bottom: 1%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border: 4px solid var(--sea-green);
}

#main-app:hover {
    filter: none;
    -webkit-filter: grayscale(0);  
}

#smaller-apps {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3% 0%;
}

#bookclub {
    background-image: url(../images/bookclub.png);
}

#snow-days {
    background-image: url(../images/snow.JPG);
}

#trail-buddy {
    background-image: url(../images/trail.JPG);
}

#park-play {
    background-image: url(../images/park.JPG);
}

/* contact section styling */
.icon-name{
    font-size: 16px;
    color: var(--slate);
    margin-bottom: 5%;
    display: block;
    justify-content: center;
    width: 70%;
    margin-left: 45%;
    text-decoration: none;
}

.icons {
    width: 50%;
    height: 100%;
    margin-left: 30%;
    padding-bottom: 3%;
}

#contact-me {
    display: flex;
    justify-content: center;
    padding: 3% 2%;
    width: 70%;
}

/* different sized display styling */
/* for tablets */
@media screen and (max-width: 768px) {
     #main-app {
        height: 22rem;
        width: 32rem;
    }
}

/* for phones/mobile */
@media screen and (max-width: 480px) {
    #main-app {
        height: 19rem;
        width: 26rem ;
    }
}