/* variables */
:root {
    --offwhite: antiquewhite;
    --olive: darkolivegreen;
    --sea-green: darkseagreen;
    --slate: darkslategray;
    --rose: rosybrown;
}

/* universal styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* element styling */ 
body {
    background-color: var(--offwhite);
    color: var(--olive);
}

h1,
h2,
h3, 
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* header/nav styling */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: gray;
    color: var(--offwhite);
    padding: 3px;
}

header h1 {
    font-size: 38px;
    margin-left: 1rem;
}

nav li{
    display: inline-block;
    margin: 15px 3px 3px 3px;
    padding: 3px;
}

nav li:hover {
    color: var(--sea-green);
    text-decoration: overline;
    cursor: pointer;
}

/* banner styling */
#banner {
    height: 40rem;
    width: 100%;
    margin-bottom: 5px;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

#banner h3 {
    flex-wrap: wrap;
    font-size: 22px;
    margin: 19% 40% 80% 40%;
    color: var(--offwhite);
}

/* content styling */
.sections {
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 35px;
    margin: 5 auto 0 auto;
    padding: 5%px;
    width: 10%;
    text-align: end;
    border-bottom: var(--sea-green) solid 4px;
}

/* about me section styling */
#about-me {
    display; inline-block;
}

#about-me p {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 40%;
}

#me-picture {
    height: auto;
    width: 20%;
    flex-wrap: wrap;
    align-items: flex-end;
    border-radius: 3%;
}

/* work section styling */
.app-container {
    position: relative;
}

.app-container p {
    position: absolute;
    font-size: 18px;
    bottom: 14px;
    left: 8px;
    background-color: rgba(250, 235, 215, 0.8);
    color: var(--olive);
    padding: 8px 20px 8px 8px;
    text-align: left;
}

.other-apps {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 275px;
    width: 400px;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border: 4px solid var(--sea-green);
    margin: 2% 0.5% 2% 0;
}

.other-apps:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

#live-tonight {
    background-image: url(../images/concert.JPG);
    background-size: cover;
    height: 550px;
    width: 875px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border: 4px solid var(--sea-green);
}

#live-tonight:hover {
    filter: none;
    -webkit-filter: grayscale(0);  
}

#bookclub {
    background-image: url(../images/bookclub.png);
}

#snow-days {
    background-image: url(../images/snow.JPG);
}

#trail-buddy {
    background-image: url(../images/trail.JPG);
}

#park-play {
    background-image: url(../images/park.JPG);
}

/* contact section styling */
.icons {
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;  
}

/* different sized display styling */